<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homestyle.css') }}">
  </head>
  <body>

    <div class="container">
      <h1>Bem-vindo!</h1>
      <p class="subtitle">Sistema de gerenciamento</p>

      <div class="menu">
        <a href="/produtos">
          <button>📦 Lista de produtos</button>
        </a>

        <a href="/adicionar">
          <button>➕ Adicionar produtos</button>
        </a>

        <a href="/menuusuarios">
          <button>🫡Usuários</button>
        </a>

        <a href="/logout">
          <button class="logout">🚪 Sair</button>
        </a>
      </div>
    </div>

  </body>
</html>