<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyle.css') }}">
</head>

<body>

    <h1>Entrar no sistema</h1>

    <form method="POST">
        <ul>
            <li>
                <label>Email</label>
                <input type="text" name="emailinp" placeholder="seu@email.com" required>
            </li>

            <li>
                <label>Senha</label>
                <input type="password" name="senhainp" placeholder="Digite sua senha" required>
            </li>
        </ul>

        <input type="submit" value="Entrar">
    </form>

    <p>Não tem uma conta?</p>
    <a href="/cadastro">Criar conta</a>

</body>
</html>