<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyle.css') }}">
    </head>
    <body>
        <h1>Faça seu logon</h1>
       <form method="POST">
             <input type="text" name="emailinp" placeholder="Email" required/><br>
             <input type="password" name="senhainp" placeholder="Senha" required/><br>
                <input type="submit" value="Entrar">
        </form>
        <h2>Não tem uma conta?</h2><br>
        <a href="/cadastro">Cadastre-se</a>
    </body>
</html>